.home {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeIntro {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 500px;
}

.homeIntroText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.homeIntro img {
  width: 70%;
  height: 500px;
}

.homeIntro h1 {
  font-size: 4em;
  text-align: left;
  width: 80%;
}

.paris {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  width: 100vw;
  margin: 100px 0;
}

.paris h2 {
  margin-bottom: 50px;
}

.parisImg {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.parisImg img {
  width: 250px;
  height: auto;
  border: 2px brown solid;
  border-radius: 20px;
}

.homeBestPlayersCards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
}

.homeBestPlayers h2 {
  margin-bottom: 50px;
}

.homePlayers {
  display: flex;
  flex-direction: row;
}

.homePlayersRandom img {
  width: 200px;
  height: 100px;
}
