.home {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeIntro {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.homeIntro img {
  width: 60%;
  height: auto;
}

.homeIntro h1 {
  font-size: 4em;
  margin: 40px 0 0 40px;
  text-align: left;
}

.homeBestPlayersCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.homePlayers {
  display: flex;
  flex-direction: row;
}

.homePlayersRandom img {
  width: 200px;
  height: 100px;
}
