.cardsBestPlayers {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 320px;
  height: 450px;
  box-shadow: 1px 1px 10px var(--gradientColor);
  border-radius: 44px;
  border: 6px var(--secondColor) solid;
  margin: 0;
  padding: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.cardsBestPlayers p {
  font-size: 2em;
}
