@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');
@font-face {
  font-family: 'egypteFont';
  src: url(./fonts/egypte.TTF);
}
@font-face {
  font-family: 'greceFont';
  src: url(./fonts/grece.ttf);
}

:root,
[data-theme='rome'] {
  --firstColor: #c5c1c1;
  --secondColor: #962828;
  --thirdColor: #ffffff;
  --fourColor: #707070;
  --gradientColor: #010101;
  --fontTitle: 'Philosopher', sans-serif;
  --fontBody: 'Philosopher', sans-serif;
  --photo: url(./assets/background.png);
}

[data-theme='egypte'] {
  --firstColor: #fec279;
  --secondColor: #34b1fe;
  --thirdColor: #54676a;
  --gradientColor: #7f1100;
<<<<<<< HEAD
  --fontTitle: 'egypteFont' 400;
  --fontBody: 'egypteFont', sans-serif;
=======
  --fontTitle: "egypteFont" 400;
  --fontBody: "egypteFont", sans-serif;
  --photo: url(./assets/backgroundEgypt.png);
>>>>>>> dev
}

[data-theme='grece'] {
  --firstColor: #61230d;
  --secondColor: #c99154;
  --thirdColor: #000000;
  --gradientColor: #b27855;
  --fontTitle: 'greceFont' 400;
  --fontBody: 'greceFont', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-family: var(--fontTitle);
  font-weight: 700;
  color: var(--gradientColor);
}
h2,
h3 {
  font-family: var(--fontBody);
  font-weight: 400;
  margin: 0;
  padding: 0;
}

p {
  font-family: var(--fontBody);
  font-weight: 400;
}

input {
  font-family: var(--fontBody);
  font-weight: 400;
}

.App {
  position: relative;
}

.egypte {
  position: fixed;
  top: 0px;
  right: 100px;
  z-index: 110000;
  cursor: pointer;
}

.grece {
  position: fixed;
  top: 16px;
  right: 190px;
  z-index: 110000;
  cursor: pointer;
}

.rome {
  position: fixed;
  top: 16px;
  right: 260px;
  z-index: 110000;
  cursor: pointer;
}
